/* FXTracker CSS */
.projsubject
{
	font-size: 110%;
	color: #d97b33;
}

.fullwidth
{
	width: 100%;
}

/* (a)lmost (full width) :D */
.afullwidth
{
	width: 99.5%;
}
.halfwidth
{
	width: 50%;
}

.fullpadding
{
	padding: 10px 10px 10px 10px;
}

.halfpadding
{
	padding: 5px;
}

.fullmargin
{
	margin: 10px;
}

.halfmargin
{
	margin: 5px;
}

.iconslash
{
	font-size: 120%;
}

.progress
{
	color: #E00000;
}

.peditbox
{
	/* Thanks Google! */
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}